<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APMBSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
 </head>

 <body>

 <div class="center-content" style="display: flex;flex-direction: column-reverse;align-items: center;">
    <h1 style="font-family: monospace;font-variant-caps: petite-caps;text-transform: uppercase;font-size: 30px;">Welcome, {{ first_name }}</h1>
    <button id="logout-button" onclick="logout()">Logout</button>
 </div>
<script>
  function logout() {
      window.location.href = "/login";
  }
</script>

<div style="display: flex;height: fit-content; width: 100%; justify-content: center;">
    <!-- Your content goes here -->
    <button class="custom-btn btn-6" onclick="detectMood()">
      <span>DETECT MOOD</span>
    </button>
</div>

<script>
  function detectMood() {
      const fetchRequests = [
          fetch('/detect_mood')
          // Add more fetch requests as needed
      ];

      Promise.all(fetchRequests)
          .then(responses => Promise.all(responses.map(response => response.json())))
          .then(dataArray => {
              // Handle the returned data here
              // dataArray is an array of data from each fetch request
              console.log(dataArray);
              // Assuming the first fetch request returns the track_id
              const track_id = dataArray[0].track_id;
              console.log(track_id);
              updateSpotifyEmbed(track_id);

              // Update the content of the HTML elements
              document.getElementById('mood-detected-expressions').innerText = dataArray[0].last_mood_detected.toUpperCase();
              document.getElementById('mood-detected-weather').innerText = dataArray[0].predicted_mood.toUpperCase();
              document.getElementById('genre').innerText = dataArray[0].genre.toUpperCase();
              document.getElementById('artist-name').innerText = dataArray[0].artist_name.toUpperCase();
              document.getElementById('song-name').innerText = dataArray[0].song_name.toUpperCase();

              fetch(`/get_recommendations/${dataArray[0].genre}`)
          .then(response => response.json())
          .then(track_ids => {
              // Update the iframe sources with the new track IDs
              document.querySelectorAll('.iframe-container iframe').forEach((iframe, index) => {
                 if (track_ids[index]) {
                      iframe.src = `https://open.spotify.com/embed/track/${track_ids[index]}?utm_source=generator`;
                 }
              });
          })
          .catch(error => console.error('Error fetching recommendations:', error));
          })
          .catch(error => console.error('Error:', error))
  }

  // Function to update Spotify embed src
  function updateSpotifyEmbed(track_id) {
      // Get the iframe element
      var iframe = document.getElementById('spotifyEmbed');

      // Construct the new src URL
      var newSrc = "https://open.spotify.com/embed/track/" + track_id + "?utm_source=generator";

      // Set the new src to the iframe
      iframe.src = newSrc;
  }
</script>


    <!-- <script src="{{ url_for('static', filename='js/index.js') }}">
    </script> -->


      <!-- <iframe id="spotifyEmbed" src="" style="margin: 0 auto;width:80%;height:60%;position: relative;border:0;" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->

      <!-- <iframe id="spotifyEmbed" style="border-radius:12px" src="" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> -->

    <div class="iframe-container">
        <iframe id="spotifyEmbed" style="border-radius:12px" src="" width="620px" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture" loading="lazy"></iframe>
    </div>

    <div class="container">
      <div class="box">
          <h2 style="font-family: monospace;">Mood Detected By Expressions: <br><span id="mood-detected-expressions"></span></h2><br>
          <h2 style="font-family: monospace;">Mood Detected By Weather: <br><span id="mood-detected-weather"></span></h2>
      </div>
    
      <div class="box">
          <h2 style="font-family: monospace;">Genre: <br><span id="genre"></span></h2><br>
          <h2 style="font-family: monospace;">Artist Name: <br><span id="artist-name"></span></h2><br>
          <h2 style="font-family: monospace;">Song Name: <br><span id="song-name"></span></h2>
      </div>
    </div>
  
<!-- Div to add song recommendations -->
<div style="display: flex; width: 100%; justify-content: center;">
  <h2 style="font-family: system-ui; color: teal; font-variant-caps: petite-caps;">Recommended Songs</h2>
</div>

  <div class="iframe-container">
    <iframe id="iframe1" style="border-radius:12px" src="" width="620px" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media;  picture-in-picture" loading="lazy"></iframe>

    <iframe id="iframe2" style="border-radius:12px" src="" width="620px" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media;  picture-in-picture" loading="lazy"></iframe>
    
    <iframe id="iframe3" style="border-radius:12px" src="" width="620px" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media;  picture-in-picture" loading="lazy"></iframe> 
</div>

 </body>
</html>
